<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name" />
    <!--springProperty name="logFilename" source="logging.file"/-->

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="port" value="12201" />
    <property name="host" value="greylogsrv" />


    <!-- https://github.com/daglii/graylog-spring -->
    <appender name="GRAYLOG" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${host}</graylogHost>
        <graylogPort>${port}</graylogPort>
        <useCompression>true</useCompression>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <includeCallerData>true</includeCallerData>
            <includeRootCauseData>true</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <staticField>app_name:contamsvc</staticField>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="GRAYLOG"/>
    </root>

    <logger name="org.pismo.cartoes" level="TRACE" />

</configuration>